<div class="main-footer">
  <div class="footer-align">
    <img class="logo-black-white" src="../../../../assets/logo/itapiraco_black_white.png">

    <div></div>

    <i class="fa fa-map-marker icon-footer" aria-hidden="true">
      <span class="text-icon"> Shopping da Ilha, Torre 1, Sala 813</span>
    </i>

    <div></div>

    <i class="fa fa-phone icon-footer" aria-hidden="true">
      <span class="text-icon"> (98) 3221-0999</span>
    </i>

    <div></div>

    <i class="fa fa-envelope-o icon-footer" aria-hidden="true">
      <span class="text-icon"> eiimoveis@hotmail.com</span>
    </i>


  </div>
</div>


