.each_image {
  max-width: 650px;
  max-height: 6500px;
  margin: 30px;
}

.main {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.btn_back {
  margin: 35px;
}

.description_title {
  margin-top: 50px;
}

.detail_description {
  margin-left: 30%;
  max-width: 500px;
  text-align: justify;
  border: 1px solid grey;
  padding: 30px;
  box-shadow: 1px 1px 1px 1px #cccccc;
}

.details_contact {
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}
