<mat-toolbar>
  <img class="nav-sm-logo" src="../../../assets/logo/itapiraco_logo.png">
  <span class="spacer"></span>
  <button class="small-space" mat-button color="primary">HOME</button>
  <button class="small-space" mat-button color="primary">IMÓVEIS</button>
  <button class="small-space" mat-button color="primary">EMPRESA</button>
  <span class="spacer"></span>
  <a href="http://www.itapiraco.com.br/administrador">
    <button mat-mini-fab color="primary">
      <i class="fa fa-sign-in" aria-hidden="true">
      </i>
    </button>
  </a>
</mat-toolbar>

